body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("t5.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.8;
}

.bigger {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-size: large;
    color: black;
    border-radius: 8px;
    border-color: black;
}

.temp {
    padding-top: 0px;
    margin-top: 0px;
    float: top;
}

div.in1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 500px;
    margin-right: 20px;
    border-color: black;
    background-color: white;
    border-radius: 8px;
    border: 2px solid black;
}

.in2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 500px;
    border-color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
}

button {
    border-radius: 8px;
    font-size: large;
    color: black;
    margin-bottom: 20px;
}

button:hover {
    background-color: blue;
    color: white
}

.lll {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 125px;
    border-color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
}

.sub {
    background-color: blue;
    color: white;
    width: 53%;
    border: 2px solid blue;
    border-radius: 8px;
    font-size: 23px;
    margin-top: 10px;
    margin-left: 200px;
}

.mmm {
    font-size: 30px;
    border: 0px;
}

.zz {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-left: 240px;
    margin-top: -10px;
}

.hh {
    text-align: center;
    background-color: white;
    padding-top: 100px, padding-bottom: 0px;
    padding-right: 50px;
    border-radius: 8px;
    border: 2px solid black;
    margin-top: 20px;
}

input:focus {
    outline: none;
}

.plt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 125px;
    border-color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
    margin-top: 100px;
}

.p111 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
    width: 500px;
    background-color: lightgray;
}